#at4-follow,
.at-follow-open-control {
  top: 3px;
}
html body.admin-menu #at4-follow,
html body.admin-menu .at-follow-open-control {
  top: 32px;
}
.atss,
.at-share-open-control-left {
  top: 35%;
}
#at4-share a {
  opacity: 0.2;
}
#at4-share a:hover {
  opacity: 1 !important;
}
@media (max-width: 979px) {
  body {
    padding-bottom: 44px;
  }
}
